In [40]:
import pandas as pd

texts = pd.read_csv("TokenizedAll.csv", index_col = 0)
labels = pd.read_csv("LabeledAll.csv", index_col = 0)

print (texts.head())
print (labels.head())

                                                   0
0  bed eight michael wu forty eight year under dr...
1  vera abbott bed four under dr liu come in with...
2  cindy benedictos bed under dr smtih come in fo...
3  bed jane morgan under dr tilney with acute ren...
4  ramanathan nisha pillai bed year old under dr ...
                    Meds
0                    NaN
1                 nitros
2     education, insulin
3  ivlabs, antibiotitics
4                    NaN

In [46]:
data1 = pd.read_csv("Test1+2Formatted.csv")
data2 = pd.read_csv("Test3Formatted.csv")
data3 = pd.read_csv("mt_chart.csv")
data4 = pd.read_csv("mt_discharge.csv")
data1 = data1["FreeText"]
data2 = data2["FreeText"]
data3 = data3["transcription"]
data4 = data4["transcription"]

text = data1.append(data2).append(data3).append(data4)
text = text.reset_index(drop = True)

outputDF = pd.DataFrame()
outputDF["TextOrig"] = text
outputDF["TextToken"] = texts
outputDF["Labels"] = labels

outputDF.to_csv("DataAll.csv", encoding = "utf-8")

outputDF.head()

,TextOrig,TextToken,Labels
0,"Bed eight, Michael I Wu. Forty-eight years un...",bed eight michael wu forty eight year under dr...,NaN
1,"Vera Abbott, 93, bed four, under Dr Liu came ...",vera abbott bed four under dr liu come in with...,nitros
2,"Cindy Benedictos, bed 1, under Dr Smtih, came...",cindy benedictos bed under dr smtih come in fo...,"education, insulin"
3,"This is bed 4. Jane morgan, 24, under Dr Tiln...",bed jane morgan under dr tilney with acute ren...,"ivlabs, antibiotitics"
4,"Ramanathan Nisha Pillai, bed 1, 46 years old ...",ramanathan nisha pillai bed year old under dr ...,NaN